html {
  overflow-y:scroll;
}

.front-flip {
  transform: rotate3d(0, 1, 0, 360deg);
}

.back-flip {
  transform: rotate3d(0, 1, 0, 0deg);
}

.flashcard {
  margin: 0 auto;
  transition: all 1s;
  text-align: center;
  height: 250px;
  line-height: 250px;
  background-size: cover;
  background-position:top left;
}

 .flashcard p {
   vertical-align: middle;
   font-size: 45px;
   color: pink;
   text-shadow: 1px 1px 1px black;
   z-index: 1;
 }

 .flashcard .delete{
   color: black;
   float: left;
 }

 .flashcard .edit {
   float: left;
 }

.card-control {
  z-index: 1;
}
.card-video {
  height: 100%;
  z-index: -1;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#card-form {
  height: 300px;
}

form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

fieldset {
display: inline-block;
text-align: center;
}

form .input-lg {
width: 70%;
display: flex;
justify-content: center;
}

form select {
width: 20%;
}
