html {
  overflow-y:scroll;
}
body{
  min-height: 1000px;
  font-family: 'Varela Round', sans-serif;
}
.container{
  margin: 20px 20px;
  width: 100%;
  max-width: 1500px;
}
.front-flip {
  transform: rotate3d(0, 1, 0, 360deg);
}

.back-flip {
  transform: rotate3d(0, 1, 0, 0deg);
}

.flashcard {
  margin: 10px;
  padding: 5px;
  border: 1px solid;
  transition: all 1s;
  text-align: center;
  height: 225px;
  line-height: 225px;
  background-size: cover;
  background-position:top left;
  overflow: hidden;
  padding:0px;
}

 .flashcard p {
   vertical-align: middle;
   font-size: 45px;
   color: pink;
   text-shadow: 1px 1px 1px black;
   z-index: 1;
 }

 .flashcard .delete{
   color: black;
   float: left;
 }

 .flashcard .edit {
   float: left;
 }

.card-control {
  z-index: 1;
}
.card-video {
  height: 100%;
  z-index: -1;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.card-video > video {
  width: 100%;
}

.card-form, .jumbotron {
  height: 270px;
}

form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

fieldset {
display: inline-block;
text-align: center;
}

form .input-lg {
width: 70%;
display: flex;
justify-content: center;
}

form select {
width: 25%;
}
